@import "../base/variables.scss";

.nav_container {
transition: all .3s ease;
position: absolute;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
background: #fff;
z-index: 100;



.nav_left {
    display: flex;
    gap: 3rem;

    .nav_logo {
        font-size: $font-md;
        font-size: 1.35rem;
    }

    .nav_list {
        transition: all .3s ease;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        list-style: none;
        gap: 2.5rem;
        font-size: $font-sm;

        .nav_link {
            transition: all .3s ease;
            color: $clr-text1;
            position: relative;
            z-index: 10;
            font-weight: 500;
        }

        .nav_link:after {
            transition: all .3s ease;
            content: "";
            position: absolute;
            z-index: -1;
            bottom: 0;
            right: 0;
            width: 0;
            height: 10px;
            background: $clr-secondary;
        }

        .nav_link:hover:after {
            transition: all .3s ease;
            width: 100%;
            left: 0;
        }

        .support {
            color: $clr-primary;
        }
    }

    .nav_list:hover .nav_link {
        transition: all .3s ease;
        opacity: 0.5;
    }

    .nav_list .nav_link:hover {
        transition: all .3s ease;
        opacity: 1;
        color: $clr-primary;
    }
}

.nav_right {

    .phone-icon {
        transition: all .3s ease;
        color: $clr-light;
        font-size: $font-md;
        padding-right: 15px;
    }

    .get-in-touch-btn {
        margin-right: 10px;
    }

    .get-in-touch-btn:hover > .phone-icon {
        transition: all .3s ease;
        color: $clr-primary;
    }
}
}

.navbar-fixed {
    transition: all .3s ease;
    position: fixed;
    padding: 19px;
    box-shadow: 0 0 5px grey;
    backdrop-filter: blur(10px);
}



@media screen and (max-width: 1103px) {
    @import "../base/variables.scss";

.nav_container {
position: fixed;
padding: 20px;
background: #fff;
z-index: 100;


.nav_left {
    display: flex;
    gap: 3rem;

    .nav_logo {
        font-size: $font-md;
        font-size: 1.35rem;
    }

    .nav_list {
        display: none;
    }

}

.nav_right {
display: none;
}
}

}