@import "../base/variables.scss";

.nav_container {
transition: all .3s ease;
position: absolute;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
background: #fff;
z-index: 100;



.nav_left {
    display: flex;
    gap: 3rem;

    .nav_logo {
        font-size: $font-md;
        font-size: 1.35rem;
    }

    .nav_list {
        transition: all .3s ease;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        list-style: none;
        gap: 2.5rem;
        font-size: $font-sm;

        .nav_link {
            transition: all .3s ease;
            color: $clr-text1;
            position: relative;
            z-index: 10;
            font-weight: 500;
        }


        .support {
            color: $clr-primary;
        }
    }

    .nav_list:hover .nav_link {
        transition: all .3s ease;
        opacity: 0.5;
    }

    .nav_list .nav_link:hover {
        transition: all .3s ease;
        opacity: 1;
        color: $clr-primary;
    }
}

.nav_right {

    .phone-icon {
        transition: all .3s ease;
        color: $clr-light;
        font-size: $font-md;
        padding-right: 15px;
    }

    .get-in-touch-btn {
        margin-right: 10px;
    }

    .get-in-touch-btn:hover > .phone-icon {
        transition: all .3s ease;
        color: $clr-primary;
    }
}
}

.navbar-fixed {
    transition: all .3s ease;
    position: fixed;
    padding: 19px;
    box-shadow: 0 0 2px grey;
    backdrop-filter: blur(10px);
}

.burger_menu {
    position: absolute;
    top: 1.6rem;
    font-size: 1.5rem;
    right: 1.2rem;
    display: none;
}

.line1,
.line2,
.line3 {
  transition: all .5s ease;
  height: 2px;
  width: 25px;
  background: $clr-text2;
  margin-bottom: 6px;
  border-radius: 30px;
}

.dropdown_nav_container {
    transition: all 1s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $clr-light;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    border-right: solid 1px $clr-primary;
    transform: translateX(-100vw);


    .nav_logo {
        font-size: $font-lg;
    }

    ul {
        text-align: center;
        font-size: $font-md;
        line-height: 2.5;

         a {
            color: $clr-text2;
         }
    }

    .dropdown_contact_btn {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .btn {
            font-size: $font-md;
            margin-bottom: 20px;
        }
    }

    .close_icon {
        position: absolute;
        top: 1rem;
        right: 1.2rem;
        font-size: 1.5rem;
        z-index: 999;
        color: $clr-text2;
        font-weight: bold;
    }

}


.dropdown-activated {
    transition: all 1s ease;
    transform: translateX(0);
    pointer-events: all;
}



@media screen and (max-width: 1103px) {
    @import "../base/variables.scss";

    .burger_menu {
        display: block;
    }

.nav_container {
position: fixed;
padding: 20px;
background: #fff;
z-index: 100;


.nav_left {
    display: flex;
    gap: 3rem;

    .nav_logo {
        font-size: $font-md;
        font-size: 1.35rem;
    }

    .nav_list {
        display: none;
    }

}

.nav_right {
display: none;
}
}

}