// COLOR SCHEME
$clr-primary: #6454ff;
$clr-secondary: #d3cfff;
$clr-text1: #4e4e4e;
$clr-text2: #7a7a7a;
$clr-light: #ffffff;


// FONT FAMILY
$ff-primary: 'Poppins', sans-serif;
$ff-primary: 'Urbanist', sans-serif;


// FONT WEIGHT
$fw-bold: bolder;
$fw-medium: normal;
$fw-thin: lighter;


// FONT SIZES
$font-sm: 1.1rem;
$font-md: 1.5rem;
$font-lg: 2rem;
$font-xl: 2.5rem;
$font-2xl: 4rem;



// RESPONSIVE BREAK POINTS

$mobile: 35rem;     // Equivalent to 560px
$tablet: 48rem;     // Equivalent to 768px
$notebook: 60rem;   // Equivalent to 960px
$laptop: 75rem;     // Equivalent to 1200px
$desktop: 90rem;    // Equivalent to 1440px